<%= stylesheet_link_tag 'index', :media => "all" %>
<div class="right-container">
<%= link_to tweet_bookmark_path(tweet),
            method: :delete,
            remote: true,
            data: { turbo: "false" },
            id: "js-bookmark-button-for-tweet-#{tweet.id}" do %>

    <i class="fa-solid fa-bookmark"></i>
</div>
<% end %>